<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Main</title>
		<script src="/index.js"></script>
		<link rel="stylesheet" href="/style.css"></link>
		<link href='https://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<script>
			var main = Elm.Main.fullscreen({
				initialSize: [window.innerWidth, window.innerHeight],
				randomSeed: [Math.floor(Math.random()*0xFFFF), Math.floor(Math.random()*0xFFFF)],
				  // TODO: Decoding large integer causes an error. Replace with below when it is fixed.
					// [Math.floor(Math.random()*0xFFFFFFFF), Math.floor(Math.random()*0xFFFFFFFF)]
				visitDate: new Date().getTime(),
				apiRoot: '<%= apiRoot %>'
			});
		</script>
	</body>
</html>
