<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Main</title>
		<script src="/login.js"></script>
		<link rel="stylesheet" href="/style.css"></link>
		<link href='https://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<script>
			localStorage.removeItem('authToken');
			var main = Elm.Login.fullscreen({
				accountServiceRoot: '<%= accountServiceRoot %>',
				title: '<%= title %>'
			});
			main.ports.saveToken.subscribe(function(token) {
				localStorage.setItem('authToken', token);
			  main.ports.tokenSaved.send();
			});
		</script>
	</body>
</html>
