<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<title><%= title %></title>
		<script src="/index.js"></script>
		<link rel="stylesheet" href="/style.css"></link>
		<link href='https://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<input id="paste" hidden>
		<script>
			var main = Elm.Main.fullscreen({
				initialSize: [window.innerWidth, window.innerHeight],
				randomSeed: [Math.floor(Math.random()*0xFFFF), Math.floor(Math.random()*0xFFFF)],
				  // TODO: Decoding large integer causes an error. Replace with below when it is fixed.
					// [Math.floor(Math.random()*0xFFFFFFFF), Math.floor(Math.random()*0xFFFFFFFF)]
				visitDate: new Date().getTime(),
				apiRoot: '<%= apiRoot %>',
				accountServiceRoot: '<%= accountServiceRoot %>',
				title: '<%= title %>',
				authToken: localStorage.getItem('authToken') || ''
			});
			main.ports.removeToken.subscribe(function(token) {
				localStorage.removeItem('authToken', token);
			  main.ports.tokenRemoved.send();
			});
			main.ports.setSelectionStart.subscribe(function() {
				var input = document.getElementById('name-input');
				if(input) {
					input.blur();
					input.setSelectionRange(9999,9999);
					// input.value = input.value;
					input.focus();
					// var a = input.dispatchEvent(new KeyboardEvent('keydown', { calcelable: false, 'bubbles': false, key: "a" }));
					// console.log(a);
				}
			});
			window.addEventListener('keydown', function(e) {
			  if(e.ctrlKey && e.keyCode === 90) {
					// Ctrl+Z
					if(!document.querySelector(':focus')) {
						e.preventDefault();
						main.ports.undo.send();
					}
			  } else if(e.ctrlKey && e.keyCode === 89) {
					// Ctrl+Y
					if(!document.querySelector(':focus')) {
						e.preventDefault();
						main.ports.redo.send();
					}
			  }
			}, true);
			window.addEventListener('paste', function(e) {
				if(e.target.id === 'paste-from-spreadsheet') {
					e.preventDefault();
					main.ports.clipboard.send(e.clipboardData.getData('text'));
				}
			}, true);
		</script>
	</body>
</html>
