swagger: '2.0'

info:
  version: "1.0-SNAPSHOT"
  title: "Profiles"
  description: |
    個人に紐づけられた最新の情報を管理します。

    プロフィールに対する閲覧アクセスは、テナントのドメインが特定可能である必要があります。
    API サーバは、 IP アドレスもしくは認証によってドメインを特定します。

  x-wap-package-name: profiles

schemes:
  - 'http'
host: walter.internal.worksap.com
basePath: "/walter/profiles/api/1"
x-amazon-apigateway-request-validators:
  all:
    validateRequestBody: true
    validateRequestParameters: true
  params-only:
    validateRequestBody: false
    validateRequestParameters: true

securityDefinitions:
 CustomAuthorizer:
   type: apiKey
   name: Authorization
   in: header
   x-amazon-apigateway-authtype: custom
   x-amazon-apigateway-authorizer:
     authorizerResultTtlInSeconds: 300
     authorizerUri: "arn:aws:apigateway:__REGION__:lambda:path/2015-03-31/﻿functions/arn:aws:lambda:__REGION__:__ACOUNT_ID__:function:accountsAuthorizer/invocations"
     type: token

paths:
  /profiles/{userId}:
    get:
      description: プロフィールを取得します。
      parameters:
        - name: userId
          description: ""
          in: path
          type: string
          required: true
        - "$ref": "#/parameters/Authorization_opt"
        - "$ref": "#/parameters/X-Forwarded-For"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/Profile"
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error'
        404:
          description: |
            Not Found

            たとえ他のドメインに存在していても、サーバは 404 によってその存在を隠す必要があります。
          schema:
            $ref: '#/definitions/Error'
      security:
        - CustomAuthorizer: []
      x-amazon-apigateway-request-validator: params-only
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: "200"
        uri: "arn:aws:apigateway:__REGION__:lambda:path/2015-03-31/﻿functions//﻿arn:aws:lambda:__REGION__:__ACOUNT_ID__:function:${stageVariables.ProfilesGetName}/invocations"
        type: "aws"

    put:
      description: |
        個人情報を登録・更新します。
      x-amazon-apigateway-request-validator: params-only
      parameters:
        - "$ref": "#/parameters/Authorization"
        - name: userId
          description: ""
          in: path
          type: string
          required: true
        - name: body
          in: body
          schema:
            $ref: "#/definitions/Profile"
          required: true
      responses:
        200:
          description: ""
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error'
    patch:
      description: |
        個人情報を編集します。

        PUT は指定していない項目が削除されますが、 PATCH 指定していない項目を変更しません。
        明示的に削除するには、空文字を設定します。
      parameters:
        - "$ref": "#/parameters/Authorization"
        - name: userId
          description: ""
          in: path
          type: string
          required: true
        - name: body
          in: body
          schema:
            $ref: "#/definitions/Profile"
          required: true
      responses:
        200:
          description: ""
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error'
    delete:
      description: プロフィールを削除します。
      x-amazon-apigateway-request-validator: params-only
      parameters:
        - name: userId
          description: ""
          in: path
          type: string
          required: true
        - name: Authorization
          description: |
            認証情報です。 Accounts サービスから取得したトークンを `Bearer {TOKEN}` の形式で送信します。
          in: header
          type: string
          required: true
      responses:
        200:
          description: ""
        401:
          description: Unauthorized
          schema:
            $ref: '#/definitions/Error'
        404:
          description: |
            Not Found

            たとえ他のドメインに存在していても、サーバは 404 によってその存在を隠す必要があります。
          schema:
            $ref: '#/definitions/Error'
definitions:
  Profile:
    type: object
    properties:
      userId:
        type: string
      employeeId:
        type: string
      picture:
        type: string
      name:
        type: string
      ruby:
        type: string
      orgnization:
        type: string
      post:
        type: string
      rank:
        type: string
      cellPhone:
        type: string
      extensionPhone:
        type: string
      mail:
        type: string
      workplace:
        type: string
  Error:
    type: object
    properties:
      message:
        type: string
parameters:
  Authorization:
    name: Authorization
    description: |
      認証情報です。 Accounts サービスから取得したトークンを `Bearer {TOKEN}` の形式で送信します。
    in: header
    type: string
  Authorization_opt:
    name: Authorization
    description: |
      認証情報です。 Accounts サービスから取得したトークンを `Bearer {TOKEN}` の形式で送信します。
    in: header
    required: false
    type: string
  X-Forwarded-For:
    name: X-Forwarded-For
    description: この API は、 IP アドレスによる匿名によるアクセスが可能です。
    in: header
    type: string
