@font-face {
   font-family: Roboto;
}

body {
  margin : 0;
  overflow-y: hidden;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.hovarable:hover {
  background-color: #9ce;
  cursor: pointer;
}

.hover-header-icon {
  opacity: 0.5;
}

.hover-header-icon:hover {
  opacity: 0.7;
}
