@font-face {
  font-family: Roboto;
}

@page {
  size:landscape;
}

@media print {
  .no-print {
    display: none !important;
  }
}

body {
  margin : 0;
  overflow-y: hidden;
  font-family: 'Roboto', sans-serif;
}

svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin : 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.elm-overlay {
  z-index: 2147483647;
}

img.emoji {
  height: 1.4em;
  width: 1.4em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}
