<!DOCTYPE HTML>
<html>

<head>
	<meta charset="UTF-8">
	<title>
		<%= title %>
	</title>
	<script src="./index.js"></script>
	<link rel="stylesheet" href="./style.css"></link>
	<link href='https://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
	<script src="//twemoji.maxcdn.com/2/twemoji.min.js?2.2.3"></script>
</head>

<body>
	<input id="paste" hidden>
	<script>
		var lang =
			window.navigator.language ||
			window.navigator.userLanguage ||
			window.navigator.browserLanguage;
		var main = Elm.Page.Map.Main.fullscreen({
			initialSize: {
				width: window.innerWidth,
				height: window.innerHeight
			},
			randomSeed: [Math.floor(Math.random() * 0xFFFF), Math.floor(Math.random() * 0xFFFF)],
			// TODO: Decoding large integer causes an error. Replace with below when it is fixed.
			// [Math.floor(Math.random()*0xFFFFFFFF), Math.floor(Math.random()*0xFFFFFFFF)]
			visitDate: new Date().getTime(),
			apiRoot: '<%= apiRoot %>',
			accountServiceRoot: '<%= accountServiceRoot %>',
			title: '🐱 <%= title %> 🐳',
			authToken: localStorage.getItem('authToken') || '',
			lang: lang
		});
		main.ports.insertInput.subscribe(function(data) {
			var id = data[0];
			var pos = data[1];
			var objectId = data[2];
			var value = data[3];
			var element = document.getElementById(id);
			if (element.id === id) {
				var originalValue = element.value;
				var newValue = originalValue.substring(0, pos) + value + originalValue.substring(pos);
				var newPos = pos + value.length;
				element.focus();
				element.value = newValue;
				element.setSelectionRange(newPos, newPos);
				main.ports.receiveInputValue.send([objectId, newValue, newPos]);
			}
		});
		main.ports.setInput.subscribe(function(data) {
			var id = data[0];
			var str = data[1];
			var element = document.getElementById(id);
			if (element.id === id) {
				element.value = str;
			}
		});
		main.ports.removeToken.subscribe(function(token) {
			localStorage.removeItem('authToken', token);
			main.ports.tokenRemoved.send();
		});
		main.ports.setSelectionStart.subscribe(function() {
			var input = document.getElementById('name-input');
			if (input) {
				input.blur();
				input.setSelectionRange(9999, 9999);
				// input.value = input.value;
				input.focus();
				// var a = input.dispatchEvent(new KeyboardEvent('keydown', { calcelable: false, 'bubbles': false, key: "a" }));
				// console.log(a);
			}
		});
		main.ports.focusCanvas.subscribe(function() {
			var element = document.getElementById('paste-handler');
			if (element) {
				element.focus();
			}
		});
		main.ports.print.subscribe(function(s) {
			window.print();
		});
		setTimeout(function() {
			document.getElementById('blink-style').innerHTML = '';
		}, 1400);

		var now = window.performance && (
			performance.now ||
			performance.mozNow ||
			performance.msNow ||
			performance.oNow ||
			performance.webkitNow);

		var getTime = function() {
			return (now && now.call(performance)) || (new Date().getTime());
		}
		var init = getTime();
		var start = init;
		var arr = [];
		(function loop() {
			var end = getTime();
			arr.push(end - start);
			start = end;
			if (end - init < 5000) {
				requestAnimationFrame(loop);
			} else {
				arr.reverse();
				var arr2 = [];
				for (var i = 0; i < 20; i++) {
					arr2[i] = arr[i] / 4 + arr[i + 1] / 2 + arr[i + 2] / 4
				}
				var s = arr2.map(n => n.toString()).join('\n');
				console.log(s);
			}
		}) //();
	</script>
	<style id="blink-style">
		.popup-blink {
			animation: blink 0.2s 2;
			animation-delay: 0.35s;
		}

		@keyframes blink {
			50% {
				background-color: #fac;
			}
		}
	</style>
</body>

</html>
