<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<title><%= title %></title>
		<script src="./index.js"></script>
		<link rel="stylesheet" href="./style.css"></link>
		<link href='https://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
		<script src="//twemoji.maxcdn.com/2/twemoji.min.js?2.2.3"></script>
	</head>
	<body>
		<input id="paste" hidden>
		<script>
			var lang =
					window.navigator.language ||
					window.navigator.userLanguage ||
					window.navigator.browserLanguage;
			var main = Elm.Page.Map.Main.fullscreen({
				initialSize: { width: window.innerWidth, height: window.innerHeight },
				randomSeed: [Math.floor(Math.random()*0xFFFF), Math.floor(Math.random()*0xFFFF)],
				  // TODO: Decoding large integer causes an error. Replace with below when it is fixed.
					// [Math.floor(Math.random()*0xFFFFFFFF), Math.floor(Math.random()*0xFFFFFFFF)]
				visitDate: new Date().getTime(),
				apiRoot: '<%= apiRoot %>',
				accountServiceRoot: '<%= accountServiceRoot %>',
				title: '<%= title %>',
				authToken: localStorage.getItem('authToken') || '',
				lang: lang
			});
			main.ports.insertInput.subscribe(function(data) {
				var id = data[0];
				var pos = data[1];
				var objectId = data[2];
				var value = data[3];
				var element = document.getElementById(id);
				if(element.id === id) {
					var originalValue = element.value;
					var newValue = originalValue.substring(0, pos) + value + originalValue.substring(pos);
					var newPos = pos + value.length;
					element.focus();
					element.value = newValue;
					element.setSelectionRange(newPos, newPos);
					main.ports.receiveInputValue.send([objectId, newValue, newPos]);
				}
			});
			main.ports.removeToken.subscribe(function(token) {
				localStorage.removeItem('authToken', token);
			  main.ports.tokenRemoved.send();
			});
			main.ports.setSelectionStart.subscribe(function() {
				var input = document.getElementById('name-input');
				if(input) {
					input.blur();
					input.setSelectionRange(9999,9999);
					// input.value = input.value;
					input.focus();
					// var a = input.dispatchEvent(new KeyboardEvent('keydown', { calcelable: false, 'bubbles': false, key: "a" }));
					// console.log(a);
				}
			});
			// main.ports.copyLink.subscribe(function(inputId) {
			// 	var input = document.getElementById(inputId);
			// 	if(input) {
			// 		input.select();
			// 		document.execCommand('copy');
			// 	}
			// });
			window.addEventListener('keydown', function(e) {
			  if(e.ctrlKey && e.keyCode === 90) {
					// Ctrl+Z
					if(!document.querySelector(':focus')) {
						e.preventDefault();
						main.ports.undo.send();
					}
			  } else if(e.ctrlKey && e.keyCode === 89) {
					// Ctrl+Y
					if(!document.querySelector(':focus')) {
						e.preventDefault();
						main.ports.redo.send();
					}
			  }
			}, true);
			window.addEventListener('paste', function(e) {
				if(document.activeElement.id == 'paste-from-spreadsheet') {
					e.preventDefault();
					// var items = e.clipboardData.items;
				  // for (var i = 0 ; i < items.length ; i++) {
				  //   var item = items[i];
					// 	console.log(item.type);
				  //   if (item.type.indexOf("image") != -1) {
				  //     var file = item.getAsFile();
				  //     console.log(file);
				  //   }
				  // }
					// console.log(e.clipboardData.types);
					// console.log(e.clipboardData.files[0]);
					// console.log(e.clipboardData.items[0]);
					console.log(e.clipboardData.getData('text/html'));
					// console.log(e.clipboardData.getData('text/rtf'));
					// console.log(e.clipboardData.getData('text/plain'));
					// console.log(e.clipboardData.getData('Files'));
					// console.log(e.clipboardData.getData('image/png'));
					// main.ports.clipboard.send(e.clipboardData.getData('text/html') || e.clipboardData.getData('text'));
				}
			}, true);

			// var dragging = null;
			// window.addEventListener('mousedown', function(e) {
			// 	// if(e.target.id === 'canvas-view') {
			// 		console.log('mousedown');
			// 		dragging = [e.pageX, e.pageY];
			// 		e.preventDefault();
			// 	// }
			// }, true);
			// window.addEventListener('mouseup', function(e) {
			// 	// if(e.target.id === 'canvas-view') {
			// 		console.log('mouseup');
			// 		dragging = null;
			// 		e.preventDefault();
			// 	// }
			// }, true);
			// window.addEventListener('mousemove', function(e) {
			// 	// if(e.target.id === 'canvas-view') {
			// 		var x = e.pageX;
			// 		var y = e.pageY;
			// 		console.log('mousemove');
			// 		if(dragging) {
			// 			var el = document.getElementById('canvas-view');
			// 			console.log(el);
			// 			el.style.left = (x - dragging[0]) + "px";
			// 			el.style.top = (y - dragging[1]) + "px";
			// 		}
			// 		e.preventDefault();
			// 	// }
			// }, true);

		</script>
	</body>
</html>
